html, body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  background-color: var(--calcite-color-background);
}

/* Calcite Theme Editor: https://esrips.github.io/calcite-theme-editor/ */

.calcite-mode-light,
.calcite-mode-dark {
  color-scheme: light;
  --calcite-mode-name: light;
  --calcite-color-brand: #00755F;
  --calcite-color-brand-hover: #005D4C;
  --calcite-color-brand-press: #004639;
  --calcite-color-text-1: #3C3C3C;
  --calcite-color-text-2: #3F3F3F;
  --calcite-color-text-3: #484848;
  --calcite-ui-text-highlight: #00755F;
  --calcite-color-text-inverse: #ffffff;
  --calcite-color-text-link: #005D4C;
  --calcite-link-blue-underline: rgba(0, 117, 95, 0.5);
  --calcite-color-background: #EBEBEB;
  --calcite-color-foreground-1: #F2F2F2;
  --calcite-color-foreground-2: #E6E6E6;
  --calcite-color-foreground-3: #E1E1E1;
  --calcite-color-inverse: #0D0D0D;
  --calcite-color-inverse-hover: #0A0A0A;
  --calcite-color-inverse-press: #080808;
  --calcite-color-border-1: #9BBFB6;
  --calcite-color-border-2: #A6C6BE;
  --calcite-color-border-3: #B1CDC6;
  --calcite-color-border-input: #649C8E;
  --calcite-ui-icon-color: currentColor;
  --calcite-color-status-info: #005D4C;
  --calcite-color-status-success: #308e29;
  --calcite-color-status-warning: #f1c21b;
  --calcite-color-status-danger: #D83020;
  --calcite-color-status-danger-hover: #A82B1E;
  --calcite-color-status-danger-press: #7C1D13;
}


/*--calcite-scrim-background: var(--calcite-color-background);*/
/*--calcite-color-transparent-scrim: var(--calcite-color-background);*/

.esri-widget,
.esri-search {
  color: var(--calcite-color-text-2);
  background-color: var(--calcite-color-foreground-1);
}

.esri-search {
  width: 400px;
}

.esri-input,
.esri-menu {
  color: var(--calcite-color-text-2);
  background-color: var(--calcite-color-background);
}

.esri-menu__list-item--focus,
.esri-menu__list-item:hover,
.esri-menu__list-item:focus {
  background-color: var(--calcite-color-foreground-1);
}

.esri-widget--button {
  color: var(--calcite-color-text-1);
  background-color: var(--calcite-color-foreground-3);
}

.esri-legend {
  width: unset !important;
}

.esri-bookmarks__bookmark-content-label {
  --calcite-color-text-1: var(--calcite-color-text-1);
}

calcite-shell[content-behind] #center-container {
  padding: 0 50px 0 50px;
}

calcite-navigation[slot="header"] {
  --calcite-navigation-border-color: var(--calcite-color-brand);
}

calcite-navigation[slot="header"] [slot] {
  margin: 0 0.2rem;
}

calcite-navigation[slot="header"] calcite-action[slot="navigation-action"]:first-of-type {
  margin-left: 1rem;
  pointer-events: none;
}

calcite-navigation[slot="header"] calcite-navigation-logo {
  pointer-events: none;
  --calcite-color-text-1: var(--calcite-color-brand);
  --calcite-font-size-0: 15pt;
}

calcite-navigation calcite-action[slot="navigation-action"] {
  --calcite-color-icon-color: var(--calcite-color-brand);
}

calcite-loader#app-loader {
  --calcite-loader-size: 8rem;
  align-self: center;
  justify-self: center;
}

calcite-modal {
  --calcite-modal-content-background: var(--calcite-color-background);
}

calcite-modal [slot="secondary"] calcite-label {
  --calcite-label-margin-bottom: 0;
}

calcite-list-item {
  --calcite-color-text-1: var(--calcite-color-brand);
}

#center-container {
  height: 100%;
  padding: 0;
  margin: 0;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

#view-container {
  padding: 0;
  margin: 0;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.view-container {
  pointer-events: none;
  width: 100%;
  height: 100%;
}

#models-list {
  margin: 8px;
}
